.card-img {
  object-fit: scale-down;
  height: 300px;
}

.my-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.my-card {
  flex-basis: 30%;
  margin: 10px;
}

body * {
  box-sizing: border-box;
}
